@import "../generated/leptonic/leptonic-themes";
@import "layout";
@import "cube";

.grayed-out {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.hidden {
  display: none;
}

.icon-button {
  border:0;
  background:none;
  cursor: pointer;
}

.settings-container {
  width: 100%;
  margin-bottom: 5px;
}

.settings-option {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.settings-label {
  margin-right: 10px;
}

.settings-description {
  opacity: 50%;
  font-size: 14px;
  inline-size: 330px;
}

.slider-reduce-mark-clutter > .marks div:nth-child(even) {
  display: none;
}

//Leptos 0.3.0 fix
leptonic-progress-bar[data-indeterminate] leptonic-progress-bar-background leptonic-progress-bar-fill {
  display: block;
  animation: animate-move 1.3s cubic-bezier(0.29, 0.63, 0.81, 0.07) infinite;
}
leptonic-progress-bar[data-indeterminate] leptonic-progress-bar-background leptonic-progress-bar-fill leptonic-progress-bar-fill-overlay {
  display: block;
  background: none;
  animation: none;
}

leptonic-box {
  min-height: 100vh;
}